<!doctype html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="initial-scale=1">
        <meta name="application-name" content="">
        <meta name="description" content="">
        <title>3D Viewer | GAVITEA</title>

        {% load static %}

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.css">
        <link rel="stylesheet" href="{% static 'boilerplate.css' %}">
        <link rel="stylesheet" href="{% static 'widgets.css' %}">

        <style>

            body {
                font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
            }

            #models tr {
                cursor: pointer;
            }

            #models li:nth-child(odd) {
                background-color: #eee;
            }

            caption {
                text-align: left;
                margin-bottom: 1em;
            }


            #container {
                display: inline;
                list-style-type: none;
                max-width: 90%;
            }

            iframe {
                padding: 0;
                border: 0;
                margin: 0;
            }

            #models {
                width: 20em;
                position: fixed;
                top: 0;
                left: 0;
                margin: 1em;
            }

            #container-container {
                margin-left: 21em;
            }

            #container {
                width: 90%;
                margin: 0;
                border: 0;
                padding: 0;
            }

            #container li {
                display: inline;
            }
        

            tbody>tr:nth-child(odd) {
                background-color: #eee;
            }

            tr td {
                padding: 0.5em !important;
            }

            tr.selected {
                background-color: #f70 !important;
            }

            tr.selected>td.shown:after {
                content: 'X';
            }

        </style>




    </head>
    <body>

        <main>

            <div id="container-container">
                <ol id="container">
                </ol>
            </div>

            <table id="models">
                <caption>Click on the list to view the associated asteroid 3D model. See the <a href="{% static 'manual.html' %}">user manual</a> for help.</caption>
                <thead>
                    <tr>
                        <th class="column-header selected" data-column-name="solution-no">Solution</th>
                        <th class="column-header" data-column-name="shown">Shown</th>
                    </tr>
                </thead>
                <tbody>
                {% for index in indexes %}
                    <tr data-solution-no="{{index}}" class="solution-row">
                        <td>{{index}}</td>
                        <td class="shown"></td>
                    </tr>
                {% endfor %}

                </tbody>

                <tfoot>
                    <tr>
                        <td colspan="2">
                            <div class="paging">
                                <input class="previous-page" type="button" value="&#171;">
                                <span class="page-no">0</span> / <span class="pages-total">0</span>
                                <input class="next-page" type="button" value="&#187;">
                            </div>
                        </td>
                    </tr>
                </tfoot>

            </table>


            
        </main>
        <script id="viz-3d-tmpl" type="text/x-template">
        <li data-solution-no="${solutionNo}">
            <iframe width="510" height="410" src="${src}"></iframe>
        </li>
        </script>

        <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.9/es5-shim.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/es6-shim/0.35.1/es6-shim.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/json3/3.3.2/json3.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="{% static 'es5-utilities.js' %}"></script>
        <script src="{% static 'web-utilities.js' %}"></script>

        <script>
        (function () {
            'use strict';
            Object.assign(window, ES5Utilities());
            Object.assign(window, WebUtilities());
        }());
        </script>



        <script>
        (function () {
            'use strict';

            var urlBasePath = window.location.pathname + 'solutions/';
            var $models = $('#models');
            var $container = $('#container');
            var $rows = $('#models .solution-row');

            var viz3DTmpl = $('#viz-3d-tmpl').text();

            var state = {
                'order-by': 'solution-no',
                'order': 'ascending',
                'page-no': 0,
                'page-size': 20,
                'pages-total': 0
            };
            state['pages-total'] = Math.ceil($rows.length / state['page-size']);
            state['page-no'] = Math.min(1, state['pages-total']);

            /*
            // load previous state, if any
            window.addEventListener('load', function (event) {
                var tmp;
                try {
                    tmp = JSON.parse(sessionStorage.getItem('3d-viewer.html#state'));
                    if (tmp != null) {
                        state = tmp;
                    }
                } catch (_) {}
            });

            // save state to session storage before navigating from page
            window.addEventListener('beforeunload', function (event) {
                sessionStorage.setItem('3d-viewer.html#state', JSON.stringify(state));
            });
            */



            $models.on('click', '.solution-row', function (event) {
                var $solutionRow = $(event.currentTarget);
                var solutionNo = $solutionRow.data('solution-no');


                if (!$solutionRow.hasClass('selected')) {
                    $solutionRow.toggleClass('selected', true);
                    $container.append($(renderHTML(viz3DTmpl, {
                        solutionNo: solutionNo,
                        src: urlBasePath + solutionNo
                    })));
                } else {
                    $solutionRow.toggleClass('selected', false);
                    $container.find('li[data-solution-no="' + solutionNo + '"]').remove()
                }
                refresh();
                event.preventDefault();
                event.stopPropagation();
            });

            $models.on('click', '.column-header', function (event) {
                if (state['order-by'] === this.getAttribute('data-column-name')) {
                    if (state['order'] === 'ascending') {
                        state['order'] = 'descending';
                    } else {
                        state['order'] = 'ascending';
                    }
                } else {
                    state['order-by'] = this.getAttribute('data-column-name');            
                }
                refresh();
                event.preventDefault();
                event.stopPropagation();
            });

            $models.on('click', '.previous-page', function (event) {
                state['page-no'] = Math.max(state['page-no'] - 1, 1);
                refresh();
                event.preventDefault();
            });

            $models.on('click', '.next-page', function (event) {
                state['page-no'] = Math.min(state['page-no'] + 1, state['pages-total']);
                refresh();
                event.preventDefault();
            });




            function _sortAscending(a, b) {
                return Number(a.dataset.solutionNo) - Number(b.dataset.solutionNo);
            }

            function _sortDescending(a, b) {
                return Number(b.dataset.solutionNo) - Number(a.dataset.solutionNo);
            }

            function _sortShown(a, b) {
                if (a.classList.contains('selected') && b.classList.contains('selected')) return _sortDescending(a, b);
                if (a.classList.contains('selected')) return 1;
                if (b.classList.contains('selected')) return -1;
                return _sortDescending(a, b);
            }

            function _sortNotShown(a, b) {
                if (a.classList.contains('selected') && b.classList.contains('selected')) return _sortAscending(a, b);
                if (b.classList.contains('selected')) return 1;
                if (a.classList.contains('selected')) return -1;
                return _sortAscending(a, b);
            }

            var refresh = debounce(function _refresh() {
                var sorter;

                $models.find('th.column-header').each(function (i, columnHeader) {
                    if (columnHeader.getAttribute('data-column-name') === state['order-by']) {
                        columnHeader.classList.add('selected');
                        if (state['order'] === 'ascending') {
                            columnHeader.classList.remove('descending');
                        } else {
                            columnHeader.classList.add('descending');
                        } 
                    } else {
                        columnHeader.classList.remove('selected');
                    }
                });

                if (state['order-by'] === 'solution-no') {
                    if (state['order'] === 'ascending') {
                        sorter = _sortAscending;
                    } else {
                        sorter = _sortDescending;
                    }
                } else {
                    if (state['order'] === 'ascending') {
                        sorter = _sortNotShown;
                    } else {
                        sorter = _sortShown;
                    }
                }

                $rows.detach();
                $rows.sort(sorter);

                $models.find('.paging .page-no').text(state['page-no']);
                $models.find('.paging .pages-total').text(state['pages-total']);

                $models.find('tbody').append($rows.slice((state['page-no'] - 1) * state['page-size'], state['page-no'] * state['page-size']));

            }, 200);


            refresh();

        }());
        </script>

    </body>
</html>

