<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="initial-scale=1">
        <meta name="description" content="GAVITEA">

        <title>Computation parameters | GAVITEA</title>
        {% load static %}

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.css">
        <link rel="stylesheet" href="{% static 'boilerplate.css' %}">
        <link rel="stylesheet" href="{% static 'widgets.css' %}">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.9/es5-shim.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.9/es5-sham.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.35.2/es6-shim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/json3/3.3.2/json3.js"></script>

        <script src="//cdnjs.cloudflare.com/ajax/libs/ie8/0.4.1/ie8.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/dom4/1.8.3/dom4.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

        <script src="{% static 'es5-utilities.js' %}"></script>
        <script src="{% static 'web-utilities.js' %}"></script>

        <script>
        (function () {
            'use strict';
            Object.assign(window, ES5Utilities());
            Object.assign(window, WebUtilities());
        }());
        </script>

        <style>
            td > input[type="text"] {
                text-align: right;
            }

            #basic-parameters tr:hover, #advanced-parameters tr:hover {
                cursor: help;
                background-color: #eee;
            }

            input.load-defaults {
                background-color: #fb0;
            }

            input.save-defaults {
                background-color: #fb0;
            }

        </style>

    </head>

    <body>
        <header>
            <h1>GAVITEA</h1>
            <h2>Gaia Added-Value Interface for Temporal Analysis</h2>
            <p>Space Systems Finland &amp; University of Helsinki
            <p>See the <a href="{% static 'manual.html' %}">user manual</a> for help.
            <nav>
                <a class="tab-link selected" href="search-asteroids">Search asteroids</a>
                <a class="tab-link" href="own-computations">Browse own computations</a>
                <a class="tab-link" href="shared-computations">Browse shared computations</a>
            </nav>
        </header>

        <main class="modal">
            <a class="modal-exit-link" href="search-asteroids">&#9587;</a>
            <section id="parameters" class="modal-content">
              <div>
                <h3>Computation parameters</h3>



                <form method="post" action="jobs/">

                    {% csrf_token %}

                    <input type="hidden" name="base_md5" value="{{base_md5}}" readonly>

                    <input type="submit" value="Submit computation">
                    <input type="reset" value="Reset form">
                    <input class="load-defaults" type="button" value="Load user defaults">
                    <input class="save-defaults" type="button" value="Save user defaults">


                    <table>

                        <tbody>
                            <tr data-row="Pmax" title="">
                                <th>Number</th>
                                <td><input type="text" name="astno" value="{{astno}}" readonly></td>
                            </tr>
                            <tr data-row="Pmax" title="">
                                <th>Name</th>
                                <td><input type="text" name="astname" value="{{astname}}" readonly></td>
                            </tr>
                            <tr data-row="Pmax" title="">
                                <th>Designation</th>
                                <td><input type="text" name="astdsg" value="{{astdsg}}" readonly></td>
                            </tr>
                        </tbody>

                        <tbody>
                            <tr>
                                <th></th>
                                <th><label><input class="task-parameter algorithm" type="checkbox" name="ais" value="true" checked> A-IS</label></th>
                                <th><label><input class="task-parameter algorithm" type="checkbox" name="aes" value="true" checked> A-ES</label></th>
                                <th><label><input class="task-parameter algorithm" type="checkbox" name="acs" value="true" checked> A-CS</label></th>
                            </tr>
                        </tbody>




                        <tbody id="basic-parameters">
                            <tr data-row="Pmax" title="The maximum expected rotation period in hours: Period should be restricted whenever possible, since the narrower the scanned period range, the more accurate the period solution and the shorter the computation time.">
                                <th><a href="{% static 'manual.html' %}#pminmax">Pmax</a></a></th>
                                <td><input class="algorithm-parameter" type="text" name="aispmax" value="{{aispmax}}"></td>
                                <td></td>
                                <td></td>
                            </tr>

                            <tr data-row="Pmin" title="The minimum expected rotation period in hours. Period should be restricted whenever possible, since the narrower the scanned period range, the more accurate the period solution and the shorter the computation time." title="">
                                <th><a href="{% static 'manual.html' %}#pminmax" target="manual">Pmin</a></th>
                                <td><input class="algorithm-parameter" type="text" name="aispmin" value="{{aispmin}}"></td>
                                <td></td>
                                <td></td>
                            </tr>

                            <tr data-row="ntrper" title="Discretization resolution of pole in period scanning: Number of scanned poles for each scanned period is 4*ntrper**2+2. This parameter should not be increased, since it strongly affects the computation time, but does not usually affect the accuracy of the period solution.">
                                <th><a href="{% static 'manual.html' %}#ntrper">ntrper</a></th>
                                <td><input class="algorithm-parameter" type="text" name="aisntrper" value="{{aisntrper}}"></td>
                                <td></td>
                                <td></td>
                            </tr>

                            <tr data-row="ntrpole" title="Discretization resolution of pole in pole scanning: Number of scanned poles is 4*ntrpole**2+2. This parameter is critical, and can be increased, if the expected latitude of the pole is close to the ecliptic pole. If the pole is close to the equator, on the other hand, the value can be somewhat decreased to reduce computation time. ">
                                <th><a href="{% static 'manual.html' %}#ntrpole">ntrpole</a></th>
                                <td><input class="algorithm-parameter" type="text" name="aisntrpole" value="{{aisntrpole}}"></td>
                                <td></td>
                                <td></td>
                            </tr>

                            <tr data-row="nmc" title="Number of virtual observations: Defines the number of virtual solutions representing the distribution of the model parameters. The default value is usually enough to produce a complete distribution of virtual solutions.">
                                <th><a href="{% static 'manual.html' %}#nmc">nmc</a></th>
                                <td></td>
                                <td><input class="algorithm-parameter" type="text" name="aesnmc" value="{{aesnmc}}"></td>
                                <td><input class="algorithm-parameter" type="text" name="acsnmc" value="{{acsnmc}}"></td>
                            </tr>

                            <tr data-row="nmcmc" title="Number of MCMC/IS solutions: The default value is often enough to produce a complete distribution of solutions.">
                                <th><a href="{% static 'manual.html' %}#nmcmc">nmcmc</a></th>
                                <td></td>
                                <td><input class="algorithm-parameter" type="text" name="aesnmcmc" value="{{aesnmcmc}}"></td>
                                <td><input class="algorithm-parameter" type="text" name="acsnmcmc" value="{{acsnmcmc}}"></td>
                            </tr>

                            <tr data-row="sigmanu" title="Virtual error: Defines how strongly the randomly generated virtual observations deviate from the real observed values. The larger this parameter is, the larger is the variation of the virtual datasets and, thus, also the wider is the distribution of virtual solutions.">
                                <th><a href="{% static 'manual.html' %}#sigmanu">σv</a></th>
                                <td></td>
                                <td><input class="algorithm-parameter" type="text" name="aessigmanu" value="{{aessigmanu}}"></td>
                                <td><input class="algorithm-parameter" type="text" name="acssigmanu" value="{{acssigmanu}}"></td>
                            </tr>

                            <tr data-row="lmax" title="The maximum order of spherical harmonics coefficients: Used for defining the frequency and strength of the variation of Gaussian curvature of the model shape. The default value is often suitable for medium sized and larger asteroids. If there can be expected to be sharp corners in the shape, then lmax can be increased.">
                                <th><a href="{% static 'manual.html' %}#lminmax">lmax</a></th>
                                <td></td>
                                <td></td>
                                <td><input class="algorithm-parameter" type="text" name="acslmax" value="{{acslmax}}"></td>
                            </tr>

                            <tr data-row="lmin" title="The minimum order of spherical harmonics coefficients: Used for defining the frequency and strength of the variation of Gaussian curvature of the model shape. The default value is most often suitable.">
                                <th><a href="{% static 'manual.html' %}#lminmax">lmin</a></th>
                                <td></td>
                                <td></td>
                                <td><input class="algorithm-parameter" type="text" name="acslmin" value="{{acslmin}}"></td>
                            </tr>

                            <tr data-row="ntr" title="Resolution of the discretization of the 3D shape model: Total number of facets used for brightness computation is 8*ntr2. The default value is often suitable, and increasing it increases computation time.">
                                <th><a href="{% static 'manual.html' %}#ntr">ntr</a></th>
                                <td></td>
                                <td></td>
                                <td><input class="algorithm-parameter" type="text" name="acsntr" value="{{acsntr}}"></td>
                            </tr>

                        </tbody>

                        <tbody>
                            <tr>
                                <td colspan="4"><label><input class="toggle-advanced" type="checkbox"> Show advanced parameters</label></td>
                            </tr>
                        </tbody>


                        <tbody id="advanced-parameters" hidden>
                            <tr data-row="scper" title="Resolution coefficient in period search: Decreasing the value produces a more accurate period solution, and increases computation time. If the scanned period range is hours rather than minutes, then setting scper to 10-100 and/or Nmaxper to no more than 1000 is suggested, to restrict the computation time">
                                <th><a href="{% static 'manual.html' %}#scper">scper</a></th>
                                <td><input class="algorithm-parameter" type="text" name="aisscper" value="{{aisscper}}"></td>
                                <td></td>
                                <td></td>
                            </tr>


                            <tr data-row="Nmaxper" title="Maximum number of scanned periods: In addition to the resolution coefficient scper, this parameter is used to avoid long computation times. The default value is suitable for at most a few-hour period range. If the scanned period range is very long, this should be increased, which, however, is computationally expensive.">
                                <th><a href="{% static 'manual.html' %}#nmaxper">Nmaxper</a></th>
                                <td><input class="algorithm-parameter" type="text" name="aisnmaxper" value="{{aisnmaxper}}"></td>
                                <td></td>
                                <td></td>
                            </tr>


                            <tr data-row="amtol" title="Tolerance of downhill simplex method: The default value is usually good, and increasing it may strongly decrease the accuracy of the result.">
                                <th><a href="{% static 'manual.html' %}#amtol">amtol</a></th>
                                <td><input class="algorithm-parameter" type="text" name="aisamtol" value="{{aisamtol}}"></td>
                                <td><input class="algorithm-parameter" type="text" name="aesamtol" value="{{aesamtol}}"></td>
                                <td></td>
                            </tr>

                            <tr data-row="car" title="Minimum value for the ellipsoid axis ratio c/a: car should lie within range [0,1], implying that axes a>b>c. The default value is often suitable, but if a highly elongated object is expected, then it should be decreased.">
                                <th><a href="{% static 'manual.html' %}#car">car</a></th>
                                <td><input class="algorithm-parameter" type="text" name="aiscar" value="{{aiscar}}"></td>
                                <td><input class="algorithm-parameter" type="text" name="aescar" value="{{aescar}}"></td>
                                <td></td>
                            </tr>

                            <tr data-row="vsc" title="Threshold for virtual solutions: This parameter can be increased to accept larger residuals in fits to virtual solutions.">
                                <th><a href="{% static 'manual.html' %}#vsc">vsc</a></th>
                                <td></td>
                                <td><input class="algorithm-parameter" type="text" name="aesvsc" value="{{aesvsc}}"></td>
                                <td></td>
                            </tr>

                            <tr data-row="dchi" title="Limiting chi for the importance sampler: (A-ES): This parameter depends on the number of data points and on the observing error. If solutions are not found, the reason could be too small value of this parameter. (A-CS): This parameter depends on the number of model parameters, which is defined by the lmin and lmax parameters. The more parameters, the larger should the value of this parameter be.">
                                <th><a href="{% static 'manual.html' %}#dchi">dχ</a></th>
                                <td></td>
                                <td><input class="algorithm-parameter" type="text" name="aesdchi" value="{{aesdchi}}"></td>
                                <td><input class="algorithm-parameter" type="text" name="acsdchi" value="{{acsdchi}}"></td>
                            </tr>

                            <tr data-row="sigmar" title="This parameter defines the weight of the regularization, but the parameter is obsolete in this version.">
                                <th><a href="{% static 'manual.html' %}#sigmar">σr</a></th>
                                <td></td>
                                <td></td>
                                <td><input class="algorithm-parameter" type="text" name="acssigmar" value="{{acssigmar}}"></td>
                            </tr>

                            <tr data-row="niter" title="">
                                <th><a href="{% static 'manual.html' %}#niter">niter</a></th>
                                <td></td>
                                <td></td>
                                <td><input class="algorithm-parameter" type="text" name="acsniter" value="{{acsniter}}"></td>
                            </tr>



                        </tbody>





                    </table>

                    <p>
                        <label><input type="checkbox" name="csv" value="true" checked> Output CSV</label>
                        <label><input type="checkbox" name="vot" value="true" checked> Output VOTable</label>
                    </p>
                    <p>
                        <input type="submit" value="Submit computation">
                    </p>
                </form>


              </div>

            </section>
        </main>
    </body>



    <script>
    (function () {
        'use strict';

        var parameters = document.getElementById('parameters');

        listen(parameters, 'blur', '.algorithm-parameter', function (event) {
            console.log(this);
        });

        listen(parameters, 'change', 'input[type="checkbox"].task-parameter.algorithm', function (event) {
            var algorithmParameters = parameters.querySelectorAll(format('input[name^="%s"].algorithm-parameter', this.name));
            if (this.checked) {
                algorithmParameters.forEach(function (element) {
                    element.removeAttribute('disabled');
                });
            } else {
                algorithmParameters.forEach(function (element) {
                    element.setAttribute('disabled', true);
                });
            }
        });

        listen(parameters, 'change', '.toggle-advanced', function (event) {
            var advancedParameters = document.getElementById('advanced-parameters');
            advancedParameters.hidden = !this.checked;
        });

        // handle form submission and invalidity marking
        listen(parameters, 'click', 'input[type="submit"]', function (event) {
            event.preventDefault();
            $.post('jobs/', $(parameters.querySelector('form')).serialize(), function (data, status, jqxhr) {


                // if submission was ok, go back to asteroid search
                if (status == 'success') {
                    if (data.is_valid) {
                        return void location.replace('search-asteroids');
                    } else {
                        return;
                    }
                }

                // else display validation info
                forEnumerableOwn(data, function (value, name) {
                    var input = parameters.querySelector(format('[name="%s"].algorithm-parameter', name));
                    if (input == null) return;
                    if (value) {
                        input.classList.remove('invalid');
                    } else {
                        input.classList.add('invalid');
                    }
                });
            }, 'json');
        });

        // handle form validation
        listen(parameters, 'change', '.algorithm-parameter', function (event) {
            event.preventDefault();
            $.post('jobs/?validation', $(parameters.querySelector('form')).serialize(), function (data, status, jqxhr) {
                forEnumerableOwn(data, function (value, name) {
                    var input = parameters.querySelector(format('[name="%s"].algorithm-parameter', name));
                    if (input == null) return;
                    if (value) {
                        input.classList.remove('invalid');
                    } else {
                        input.classList.add('invalid');
                    }
                });
            }, 'json');
        });

        // handle form reset
        listen(parameters, 'click', '[type="reset"]', function (event) {
            location.reload();
        });

        // handle loading user defaults
        listen(parameters, 'click', '.save-defaults', function (event) {
            parameters.querySelectorAll('.algorithm-parameter').forEach(function (element) {
                localStorage.setItem(element.name, element.value);
            });
            localStorage.setItem('defaults-saved', true);
        });

        // handle loading user defaults
        listen(parameters, 'click', '.load-defaults', function (event) {
            if (localStorage.getItem('defaults-saved') != null) {
                parameters.querySelectorAll('.algorithm-parameter').forEach(function (element) {
                    element.value = localStorage.getItem(element.name);
                });
            }
        });

    }());
    </script>



</html>

