<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1">
        <meta http-equiv="refresh" content="5">
        <title>GAVITEA Dashboard</title>

        <style>

        body {
            font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
            min-width: 10em;
            max-width: 20em;

            margin: 2em auto;
            border: 1px dotted #000;
            padding: 2em;
        }

        td {
            text-align: right;
            min-width: 5em;
        }

        </style>
    </head>
    <body>
        <p>Summary of your GAVITEA tasks:
        <table>
        {% if 'PENDING' in counts %}
        <tr>
            <th>PENDING</th>
            <td>{{counts.PENDING}}</td>
        <tr>
        {% endif %}
        {% if 'RECEIVED' in counts %}
        <tr>
            <th>RECEIVED</th>
            <td>{{counts.RECEIVED}}</td>
        <tr>
        {% endif %}
        {% if 'STARTED' in counts %}
        <tr>
            <th>STARTED</th>
            <td>{{counts.STARTED}}</td>
        <tr>
        {% endif %}
        {% if 'SUCCESS' in counts %}
        <tr class="success">
            <th>SUCCESS</th>
            <td>{{counts.SUCCESS}}</td>
        <tr>
        {% endif %}
        {% if 'FAILURE' in counts %}
        <tr class="failure">
            <th>FAILURE</th>
            <td>{{counts.FAILURE}}</td>
        <tr>
        {% endif %}
        {% if 'REVOKED' in counts %}
        <tr>
            <th>REVOKED</th>
            <td>{{counts.REVOKED}}</td>
        <tr>
        {% endif %}
        {% if 'RETRY' in counts %}
        <tr>
            <th>RETRY</th>
            <td>{{counts.RETRY}}</td>
        <tr>
        {% endif %}
        {% if 'IGNORED' in counts %}
        <tr>
            <th>IGNORED</th>
            <td>{{counts.IGNORED}}</td>
        <tr>
        {% endif %}
        {% if 'REJECTED' in counts %}
        <tr>
            <th>REJECTED</th>
            <td>{{counts.REJECTED}}</td>
        <tr>
        {% endif %}

        </table>

    </body>
</html>
