<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="initial-scale=1">
        <meta name="description" content="GAVITEA">
        
        <title>Introduction | GAVITEA</title>
        {% load static %}
        
        <script>
        if (localStorage.getItem('hide-introduction') != null) {
            window.location.replace('search-asteroids');
        }
        </script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.css">
        <link rel="stylesheet" href="{% static 'boilerplate.css' %}">
        <link rel="stylesheet" href="{% static 'widgets.css' %}">

        <script src="//cdnjs.cloudflare.com/ajax/libs/ie8/0.4.1/ie8.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.9/es5-shim.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.9/es5-sham.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.35.2/es6-shim.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/json3/3.3.2/json3.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dom4/1.8.3/dom4.js"></script>

        <script src="{% static 'es5-utilities.js' %}"></script>
        <script src="{% static 'web-utilities.js' %}"></script>

        <script>
        (function () {
            'use strict';
            Object.assign(window, ES5Utilities());
            Object.assign(window, WebUtilities());
        }());
        </script>

        <style>
        .logo {
            display: inline-block;
            height: 100px;
            
            padding: 0;
            border: 0;
            margin: 0;
        }
        .nota-bene {
            margin: 1em;
            border: solid 4px #b30;
            padding: 1em;
        }

        </style>

    </head>

    <body>
        <header>
            <h1>GAVITEA</h1>
            <h2>Gaia Added-Value Interface for Temporal Analysis</h2>
            <p>Space Systems Finland &amp; University of Helsinki
            <p>See the <a href="{% static 'manual.html' %}">user manual</a> for help.
            <nav>
                <a class="tab-link" href="search-asteroids">Search asteroids</a>
                <a class="tab-link" href="own-computations">Browse own computations</a>
                <a class="tab-link" href="shared-computations">Browse shared computations</a>
            </nav>
        </header>

        <main class="modal">
            <a class="modal-exit-link" href="search-asteroids">&#9587;</a>
            <section class="modal-content">





            <h1>Welcome to GAVITEA!</h1>
            <p>Gaia Added-Value Interface for Temporal Analysis (version {{version}} GAVIP framework {{fwversion}})

            <p>
            <img height="100" src="{% static 'manual_files/image003.png' %}">
            <img height="100" src="{% static 'manual_files/image001.jpg' %}">
            <img height="100" src="{% static 'manual_files/image002.png' %}">
            </p>

            <div class="nota-bene">
            <p>Please note! Due to unavailability of applicable Gaia asteroid data (as of this release of GAVITEA), GAVITEA currently utilizes <strong>simulated data</strong> for computations.
            <p>Please feel free to experiment with GAVITEA, but note that any results obtained are <strong>not based on Gaia observations</strong>.
            </div>

            <p>You have just entered a site where you can browse through the Gaia photometric asteroid
            observations and obtain information on the rotation period, spin axis direction and shape for any asteroid in
            the Gaia archive. The methods that are used, are especially developed for analysing sparse data,
            which is exactly what Gaia provides: one brightness point is measured maybe once a month, maybe
            even more rarely.</p>

            <p>For running the GAVITEA algorithms, you will need to provide the ID of the asteroid you are
            interested in, as well as a few input parametesr for the computations. The computation for one 
            asteroid may take some time, depending on which algorithms you have chosen to use, and how well
            you can constrain the rotation period in advance.</p>
            
            <p>Results are easy to view as 2D plots, but also the raw numerical results
            are provided for further use.</p>

            <img width="170" height="150" src="{% static 'manual_files/ais_perscan.png' %}">
            <img width="170" height="150" src="{% static '3d.png' %}">

            <p>To get more information on how to use GAVITEA and how to interpret the results, see the <a target="manual" href="{% static 'manual.html' %}">user manual</a>.</p>

            <p><label><input name="hide-introduction" type="checkbox"> Do not show this again</a>
            </section>
        </main>

        <script>
        (function () {
            'use strict';
            
            window.addEventListener('beforeunload', function (event) {
                if (document.querySelector('input[name="hide-introduction"]').checked) {
                    localStorage.setItem('hide-introduction', 'true');
                }
            });
        
        }());
        </script>

    </body>


</html>

