<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="initial-scale=1">
        <meta name="description" content="GAVITEA">
        
        <title>Browse own computations | GAVITEA</title>
        {% load static %}

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.css">
        <link rel="stylesheet" href="{% static 'boilerplate.css' %}">
        <link rel="stylesheet" href="{% static 'widgets.css' %}">

        <script src="//cdnjs.cloudflare.com/ajax/libs/ie8/0.4.1/ie8.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.9/es5-shim.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.9/es5-sham.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.35.2/es6-shim.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/json3/3.3.2/json3.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dom4/1.8.3/dom4.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

        <script src="{% static 'es5-utilities.js' %}"></script>
        <script src="{% static 'web-utilities.js' %}"></script>

        <script>
        (function () {
            'use strict';
            Object.assign(window, ES5Utilities());
            Object.assign(window, WebUtilities());
        }());
        </script>

        <script id="computation-template" type="text/x-template">
            <tr class="computation" data-href="results?md5=${md5}">
                <td>${timestamp}</td>
                <td>${astno}</td>
                <td>${astname}</td>
                <td>${astdsg}</td>
                <td>${progress}</td>
                <td class="status ${status}">${status}</td>
            </tr>
        </script>

        <style>
            
            .status.SUCCESS {
                color: #fff;
                background-color: #9d9;
            }

            .status.PENDING {
                color: #000;
                background-color: #ff9;
            }
        
            .status.FAILURE {
                color: #fff;
                background-color: #c66;
            }
        
        
        </style>

    </head>

    <body>
        <header>
            <h1>GAVITEA</h1>
            <h2>Gaia Added-Value Interface for Temporal Analysis</h2>
            <p>Space Systems Finland &amp; University of Helsinki
            <p>See the <a href="{% static 'manual.html' %}">user manual</a> for help.
            <nav>
                <a class="tab-link" href="search-asteroids">Search asteroids</a>
                <a class="tab-link selected">Browse own computations</a>
                <a class="tab-link" href="shared-computations">Browse shared computations</a>
            </nav>
        </header>

        <main>
            <section id="computations">
            
                <table>
                    <thead>
                        <th class="column-header" data-column-name="timestamp">Timestamp</th>
                        <th class="column-header" data-column-name="astno">Number</th>
                        <th class="column-header" data-column-name="astname">Name</th>
                        <th class="column-header" data-column-name="astdsg">Designation</th>
                        <th class="column-header selected" data-column-name="progress">Progress</th>
                        <th class="column-header" data-column-name="status">Status</th>
                    </thead>

                    <tbody class="items" data-template="computation-template"></tbody>
                    
                    <tfoot>
                        <tr>
                            <td colspan="6">
                                <div class="paging">
                                    <input class="previous-page" type="button" value="&#171;">
                                    <span class="page-no">0</span> / <span class="pages-total">0</span>
                                    <input class="next-page" type="button" value="&#187;">
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                    
                </table>
            
            
            </section>
        </main>
    </body>



    <script>
    (function () {
        'use strict';
    
        var state = {
            'query': 'own-computations',
            'order-by': 'timestamp',
            'order': 'ascending',
            'page-no': 1,
            'page-size': 20,
            'pages-total': 0
        };

        var computations = document.getElementById('computations');
        var refresh = debounce(function _refresh() {

            computations.querySelectorAll('th.column-header').forEach(function (columnHeader) {
                if (columnHeader.getAttribute('data-column-name') === state['order-by']) {
                    columnHeader.classList.add('selected');
                    if (state['order'] === 'ascending') {
                        columnHeader.classList.remove('descending');
                    } else {
                        columnHeader.classList.add('descending');
                    } 
                } else {
                    columnHeader.classList.remove('selected');
                }
            });

            $.getJSON('jobs/', {
                'query': state['query'],
                'order-by': state['order-by'],
                'order': state['order'],
                'page-no': state['page-no'],
                'page-size': state['page-size']
            }).done(function _done(data) {
                var items = computations.querySelector('.items');
                var templateID = items.getAttribute('data-template');
                var template = document.getElementById(templateID).textContent;  
                items.innerHTML = data['page'].map(renderHTML.bind(null, template)).join('\n');
                computations.querySelector('.page-no').textContent = data['page-no'];
                computations.querySelector('.pages-total').textContent = data['pages-total'];
                reassign(state, data);
                
            }).fail(console.log);

        }, 200);
            
        listen(computations, 'click', '.previous-page', function (event) {
            if (state['pages-total'] > 0) {
                state['page-no'] = Math.max(1, state['page-no'] - 1);
            }
            refresh();
        });

        listen(computations, 'click', '.next-page', function (event) {
            if (state['pages-total'] > 0) {
                state['page-no'] = Math.min(state['pages-total'], state['page-no'] + 1);
            }
            refresh();
        });

        listen(computations, 'click', '.column-header', function (event) {
            if (state['order-by'] === this.getAttribute('data-column-name')) {
                if (state['order'] === 'ascending') {
                    state['order'] = 'descending';
                } else {
                    state['order'] = 'ascending';
                }
            } else {
                state['order-by'] = this.getAttribute('data-column-name');            
            }
            refresh();
        });

        listen(computations, 'click', '.computation', function (event) {
            location.replace(this.getAttribute('data-href'));
        });

        window.addEventListener("load", function (event) {
            refresh();
        });

        setInterval(refresh, 7000);


        // load previous state, if any
        window.addEventListener('load', function (event) {
            var tmp;
            try {
                tmp = JSON.parse(sessionStorage.getItem('own-computations.html#state'));
                if (tmp != null) {
                    state = tmp;
                }
            } catch (_) {}
            refresh();
        });

        // save state to session storage before navigating from page
        window.addEventListener('beforeunload', function (event) {
            sessionStorage.setItem('own-computations.html#state', JSON.stringify(state));
        });


    }());
    </script>



</html>



