<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="initial-scale=1">
        <meta name="description" content="GAVITEA">

        <title>Results | GAVITEA</title>
        {% load static %}

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.css">
        <link rel="stylesheet" href="{% static 'boilerplate.css' %}">
        <link rel="stylesheet" href="{% static 'widgets.css' %}">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/ie8/0.4.1/ie8.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.9/es5-shim.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.9/es5-sham.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.35.2/es6-shim.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/json3/3.3.2/json3.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dom4/1.8.3/dom4.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

        <script src="{% static 'es5-utilities.js' %}"></script>
        <script src="{% static 'web-utilities.js' %}"></script>

        <script>
        (function () {
            'use strict';
            Object.assign(window, ES5Utilities());
            Object.assign(window, WebUtilities());
        }());
        </script>

        <style>
            td > input[type="text"] {
                text-align: right;
            }

            input.delete-computation {
                background-color: #f77;
            }

            input.portal {
                background-color: #fb0;
            }

            #viz3d-btn {
                background-color: #7b7;
            }

            progress[max="0"] {
                opacity: 0.2;
            }

            iframe {
                padding: 0;
                border: thin solid #bbb;
                margin: 0;

                width: 100%;
            }

            iframe[src] {
                height: 600px;
            }

            iframe#ais-viz2d {
                height: 300px;
            }

            iframe#aes-viz2d {
                height: 300px;
            }

            iframe#acs-viz2d {
                height: 300px;
            }

            .modal-content > summary:hover {
                cursor: pointer;
            }

            .collapsed > * {
                display: none;
            }

            details {
                padding: 2em !important;
            }

            summary {
                font-size: 150%;
                font-weight: bold;
            }

            .wrapper {
                padding: 2em;
                border: thin solid #777;
                margin: 2em;
                width: 40% !important;
                display: inline-block;
            }


        </style>

    </head>

    <body>
        <header>
            <h1>GAVITEA</h1>
            <h2>Gaia Added-Value Interface for Temporal Analysis</h2>
            <p>Space Systems Finland &amp; University of Helsinki
            <p>See the <a href="{% static 'manual.html' %}">user manual</a> for help.
            <nav>
                <a class="tab-link" href="search-asteroids">Search asteroids</a>
                <a class="tab-link selected" href="own-computations">Browse own computations</a>
                <a class="tab-link" href="shared-computations">Browse shared computations</a>
            </nav>
        </header>

        {% csrf_token %}
        <main class="modal">
            <a class="modal-exit-link" href="own-computations">&#9587;</a>


            <details id="computation" class="modal-content" open>
                <summary>Computation</summary>

                <div class="wrapper" style="float:left;">
                    <table>

                        <tbody>
                            <tr data-row="Pmax" title="">
                                <th>Number</th>
                                <td><input type="text" name="astno" value="{{astno}}" readonly></td>
                            </tr>
                            <tr data-row="Pmax" title="">
                                <th>Name</th>
                                <td><input type="text" name="astname" value="{{astname}}" readonly></td>
                            </tr>
                            <tr data-row="Pmax" title="">
                                <th>Designation</th>
                                <td><input type="text" name="astdsg" value="{{astdsg}}" readonly></td>
                            </tr>
                        </tbody>


                        <tbody class="progress">
                            <tr>
                                <th></th>
                                <th>A-IS</th>
                                <th>A-ES</th>
                                <th>A-CS</th>
                            </tr>

                            <tr title="">
                                <th>Pole</th>

                                <td><progress id="aispole">
                                </td>

                                <td>
                                </td>

                                <td>
                                </td>
                            </tr>

                            <tr title="">
                                <th>Period</th>

                                <td><progress id="aisper">
                                </td>

                                <td>
                                </td>

                                <td>
                                </td>
                            </tr>

                            <tr title="">
                                <th>LSV</th>

                                <td>
                                </td>

                                <td><progress id="aeslsv">
                                </td>

                                <td><progress id="acslsv">
                                </td>
                            </tr>

                            <tr title="">
                                <th>IS</th>

                                <td>
                                </td>

                                <td><progress id="aesis">
                                </td>

                                <td><progress id="acsis">
                                </td>
                            </tr>

                            <tr title="">
                                <th>MCMC</th>

                                <td></td>

                                <td><progress id="aesmcmc">
                                </td>

                                <td><progress id="acsmcmc">
                                </td>
                            </tr>

                        </tbody>






                    </table>
                    <p><input class="delete-computation" type="button" value="Delete computation" data-url="jobs/{{md5}}" readonly>

                </div>


                <div class="wrapper">


                    <form id="parameters" action="computation-parameters" method="get">

                        <input type="hidden" name="base_md5" value="{{md5}}">


                        <table>

                            <tbody hidden>
                                <tr data-row="Pmax" title="">
                                    <th>Number</th>
                                    <td><input type="text" name="astno" value="{{astno}}" readonly></td>
                                </tr>
                                <tr data-row="Pmax" title="">
                                    <th>Name</th>
                                    <td><input type="text" name="astname" value="{{astname}}" readonly></td>
                                </tr>
                                <tr data-row="Pmax" title="">
                                    <th>Designation</th>
                                    <td><input type="text" name="astdsg" value="{{astdsg}}" readonly></td>
                                </tr>
                            </tbody>

                            <tbody>
                                <tr>
                                    <th></th>
                                    <th><label><input class="task-parameter algorithm {{ais}}" type="checkbox" name="ais" value="true" readonly> A-IS</label></th>
                                    <th><label><input class="task-parameter algorithm {{aes}}" type="checkbox" name="aes" value="true" readonly> A-ES</label></th>
                                    <th><label><input class="task-parameter algorithm {{acs}}" type="checkbox" name="acs" value="true" readonly> A-CS</label></th>
                                </tr>
                            </tbody>




                            <tbody id="basic-parameters">
                                <tr data-row="Pmax" title="">
                                    <th>Pmax</th>
                                    <td><input class="algorithm-parameter" type="text" name="aispmax" value="{{aispmax}}" readonly></td>
                                    <td></td>
                                    <td></td>
                                </tr>

                                <tr data-row="Pmin" title="The minimum expected rotation period in hours. Period should be restricted whenever possible, since the narrower the scanned period range, the more accurate the period solution and the shorter the computation time." title="">
                                    <th>Pmin</th>
                                    <td><input class="algorithm-parameter" type="text" name="aispmin" value="{{aispmin}}" readonly></td>
                                    <td></td>
                                    <td></td>
                                </tr>

                                <tr data-row="ntrper" title="">
                                    <th>ntrper</th>
                                    <td><input class="algorithm-parameter" type="text" name="aisntrper" value="{{aisntrper}}" readonly></td>
                                    <td></td>
                                    <td></td>
                                </tr>

                                <tr data-row="ntrpole" title="">
                                    <th>ntrpole</th>
                                    <td><input class="algorithm-parameter" type="text" name="aisntrpole" value="{{aisntrpole}}" readonly></td>
                                    <td></td>
                                    <td></td>
                                </tr>

                                <tr data-row="nmc" title="">
                                    <th>nmc</th>
                                    <td></td>
                                    <td><input class="algorithm-parameter" type="text" name="aesnmc" value="{{aesnmc}}" readonly></td>
                                    <td><input class="algorithm-parameter" type="text" name="acsnmc" value="{{acsnmc}}" readonly></td>
                                </tr>

                                <tr data-row="nmcmc" title="">
                                    <th>nmcmc</th>
                                    <td></td>
                                    <td><input class="algorithm-parameter" type="text" name="aesnmcmc" value="{{aesnmcmc}}" readonly></td>
                                    <td><input class="algorithm-parameter" type="text" name="acsnmcmc" value="{{acsnmcmc}}" readonly></td>
                                </tr>

                                <tr data-row="sigmanu" title="">
                                    <th>σv</th>
                                    <td></td>
                                    <td><input class="algorithm-parameter" type="text" name="aessigmanu" value="{{aessigmanu}}" readonly></td>
                                    <td><input class="algorithm-parameter" type="text" name="acssigmanu" value="{{acssigmanu}}" readonly></td>
                                </tr>

                                <tr data-row="lmax" title="">
                                    <th>lmax</th>
                                    <td></td>
                                    <td></td>
                                    <td><input class="algorithm-parameter" type="text" name="acslmax" value="{{acslmax}}" readonly></td>
                                </tr>

                                <tr data-row="lmin" title="">
                                    <th>lmin</th>
                                    <td></td>
                                    <td></td>
                                    <td><input class="algorithm-parameter" type="text" name="acslmin" value="{{acslmin}}" readonly></td>
                                </tr>

                                <tr data-row="ntr" title="">
                                    <th>ntr</th>
                                    <td></td>
                                    <td></td>
                                    <td><input class="algorithm-parameter" type="text" name="acsntr" value="{{acsntr}}" readonly></td>
                                </tr>

                            </tbody>

                            <tbody id="advanced-parameters">
                                <tr data-row="scper" title="">
                                    <th>scper</th>
                                    <td><input class="algorithm-parameter" type="text" name="aisscper" value="{{aisscper}}" readonly></td>
                                    <td></td>
                                    <td></td>
                                </tr>


                                <tr data-row="Nmaxper" title="">
                                    <th>Nmaxper</th>
                                    <td><input class="algorithm-parameter" type="text" name="aisnmaxper" value="{{aisnmaxper}}" readonly></td>
                                    <td></td>
                                    <td></td>
                                </tr>


                                <tr data-row="amtol" title="">
                                    <th>amtol</th>
                                    <td><input class="algorithm-parameter" type="text" name="aisamtol" value="{{aisamtol}}" readonly></td>
                                    <td><input class="algorithm-parameter" type="text" name="aesamtol" value="{{aesamtol}}" readonly></td>
                                    <td></td>
                                </tr>

                                <tr data-row="car" title="">
                                    <th>car</th>
                                    <td><input class="algorithm-parameter" type="text" name="aiscar" value="{{aiscar}}" readonly></td>
                                    <td><input class="algorithm-parameter" type="text" name="aescar" value="{{aescar}}" readonly></td>
                                    <td></td>
                                </tr>

                                <tr data-row="vsc" title="">
                                    <th>vsc</th>
                                    <td></td>
                                    <td><input class="algorithm-parameter" type="text" name="aesvsc" value="{{aesvsc}}" readonly></td>
                                    <td></td>
                                </tr>

                                <tr data-row="dchi" title="">
                                    <th>dχ</th>
                                    <td></td>
                                    <td><input class="algorithm-parameter" type="text" name="aesdchi" value="{{aesdchi}}" readonly></td>
                                    <td><input class="algorithm-parameter" type="text" name="acsdchi" value="{{acsdchi}}" readonly></td>
                                </tr>

                                <tr data-row="sigmar" title="">
                                    <th>σr</th>
                                    <td></td>
                                    <td></td>
                                    <td><input class="algorithm-parameter" type="text" name="acssigmar" value="{{acssigmar}}" readonly></td>
                                </tr>

                                <tr data-row="niter" title="">
                                    <th>niter</th>
                                    <td></td>
                                    <td></td>
                                    <td><input class="algorithm-parameter" type="text" name="acsniter" value="{{acsniter}}" readonly></td>
                                </tr>

                            </tbody>
                        </table>

                        <input type="submit" value="Reuse parameters...">

                    </form>
                </div>


            </details>


            <details id="results" class="modal-content" hidden>
                <summary>Results</summary>
                <!--
                <p>Open the <a href="jobs/{{md5}}/viz3d">3D viewer.</a>
                <p><a href="jobs/{{md5}}/archive.tgz">Download</a> all data products as a .tgz file.
                <p><a href="jobs/{{md5}}/share">Share</a> computation results.
                -->
                <p>
                <input id="download-btn" type="button" class="portal" value="Download">
                <input id="share-btn" type="button" class="portal" value="Share">
                <input id="reveal-btn" type="button" class="portal" value="View in userspace">
                <input id="viz3d-btn" type="button" value="3D viewer">
                <p><iframe id="ais-viz2d"></iframe>
                <p><iframe id="aes-viz2d"></iframe>
                <p><iframe id="acs-viz2d"></iframe>

            </details>


        </main>

        <script>

            var computation = document.getElementById('computation');
            var parameters = document.getElementById('parameters');
            var main = document.querySelector('main');



            var downloadBtn = document.getElementById('download-btn');
            var shareBtn = document.getElementById('share-btn');
            var revealBtn = document.getElementById('reveal-btn');
            var viz3DBtn = document.getElementById('viz3d-btn');



            listen(computation, 'click', '.delete-computation', function (event) {
                var $t = $(event.target);
                if (confirm('Delete computation: are you sure?')) {
                    $.ajax({
                        url: $t.data('url'),
                        type: 'DELETE',
                        beforeSend: function(xhr) {
                            xhr.setRequestHeader("X-CSRFToken", getCookie("csrftoken"));
                        },
                        success: function (result) {
                            alert('Job deleted!')
                            location.href = 'own-computations';
                        },
                        fail: function () {
                            alert('Something went wrong. If the problem persists, please contact support.')
                        }
                    })
                }
            });


            // hack to prevent checkbox toggling in parameters panel
            // ("readonly" attribute does not affect checkbox toggling)
            listen(parameters, 'click', 'input[type="checkbox"]', function (event) {
                event.preventDefault();
            });

            $(downloadBtn).on('click', function (event) {
                $.get('jobs/{{md5}}/download', function (data, status, jqxhr) {
                    window.location = data;
                }, 'text');
            });

            $(shareBtn).on('click', function (event) {
                $.get('jobs/{{md5}}/share', function (data, status, jqxhr) {
                    window.location = data;
                }, 'text');
            });

            $(revealBtn).on('click', function (event) {
                $.get('jobs/{{md5}}/reveal', function (data, status, jqxhr) {
                    window.location = data;
                }, 'text');
            });

            $(viz3DBtn).on('click', function (event) {
                window.open('jobs/{{md5}}/viz3d', 'viz3d')
            });

            // fetch progress
            var progressIntervalID = setInterval((function _fetch_progress() {
                $.get('jobs/{{md5}}/progress', function (data, status, jqxhr) {

                    forEnumerableOwn(data, function (spec, id) {
                        var element = document.getElementById(id);
                        if (element == null) return;
                        element.setAttribute('value', spec[0]);
                        element.setAttribute('max', spec[1]);
                        element.setAttribute('title', 'Progress ' + spec[0] + '/' + spec[1]);
                    });
                    if (data['is-completed']) {
                        clearInterval(progressIntervalID);
                        document.getElementById('ais-viz2d').setAttribute('src', 'jobs/{{md5}}/viz2d/ais');
                        document.getElementById('aes-viz2d').setAttribute('src', 'jobs/{{md5}}/viz2d/aes');
                        document.getElementById('acs-viz2d').setAttribute('src', 'jobs/{{md5}}/viz2d/acs');
                        document.getElementById('results').removeAttribute('hidden');
                    }

                }, 'json');
                return _fetch_progress;
            }()), 5000);

            $('input.task-parameter.algorithm.True').prop('checked', true);

        </script>


    </body>


</html>
