<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="initial-scale=1">
        <meta name="description" content="GAVITEA">
        
        <title>Browse shared computations | GAVITEA</title>
        {% load static %}

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.css">
        <link rel="stylesheet" href="{% static 'boilerplate.css' %}">
        <link rel="stylesheet" href="{% static 'widgets.css' %}">

        <script src="//cdnjs.cloudflare.com/ajax/libs/ie8/0.4.1/ie8.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.9/es5-shim.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.9/es5-sham.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.35.2/es6-shim.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/json3/3.3.2/json3.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dom4/1.8.3/dom4.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

        <script src="{% static 'es5-utilities.js' %}"></script>
        <script src="{% static 'web-utilities.js' %}"></script>

        <script>
        (function () {
            'use strict';
            Object.assign(window, ES5Utilities());
            Object.assign(window, WebUtilities());
        }());
        </script>

        <script id="computation-template" type="text/x-template">
            <tr class="computation" data-href="results?md5=${md5}">
                <td>${timestamp}</td>
                <td>${astno}</td>
                <td>${astname}</td>
                <td>${astdsg}</td>
                <td>${ais}</td>
                <td>${aes}</td>
                <td>${acs}</td>
            </tr>
        </script>


    </head>

    <body>
        <header>
            <h1>GAVITEA</h1>
            <h2>Gaia Added-Value Interface for Temporal Analysis</h2>
            <p>Space Systems Finland &amp; University of Helsinki
            <p>See the <a href="{% static 'manual.html' %}">user manual</a> for help.
            <nav>
                <a class="tab-link" href="search-asteroids">Search asteroids</a>
                <a class="tab-link" href="own-computations">Browse own computations</a>
                <a class="tab-link selected">Browse shared computations</a>
            </nav>
        </header>

        <main>
            <section id="computations">
            
                <table>
                    <thead>
                        <th class="column-header" data-column-name="timestamp">Timestamp</th>
                        <th class="column-header" data-column-name="astno">Number</th>
                        <th class="column-header" data-column-name="astname">Name</th>
                        <th class="column-header" data-column-name="astdsg">Designation</th>
                        <th class="column-header" data-column-name="ais">A-IS</th>
                        <th class="column-header" data-column-name="aes">A-ES</th>
                        <th class="column-header" data-column-name="acs">A-CS</th>
                    </thead>

                    <tbody class="results items" data-template="computation-template"></tbody>

                    <tfoot>
                        <tr>
                            <td colspan="7">
                                <div class="paging">
                                    <input class="previous-page" type="button" value="&#171;">
                                    <span class="page-no">0</span> / <span class="pages-total">0</span>
                                    <input class="next-page" type="button" value="&#187;">
                                </div>
                            </td>
                        </tr>
                    </tfoot>

                </table>
            
            
            </section>
        </main>
    </body>



    <script>
    (function () {
        'use strict';
    
        var state = {
            'query': 'shared-computations',
            'order-by': 'astno',
            'order': 'ascending',
            'page-no': 0,
            'page-size': 50,
            'pages-total': 0
        };

        var computations = document.getElementById('computations');
        var refresh = debounce(function _refresh() {

            computations.querySelectorAll('th.column-header').forEach(function (columnHeader) {
                if (columnHeader.getAttribute('data-column-name') === state['order-by']) {
                    columnHeader.classList.add('selected');
                    if (state['order'] === 'ascending') {
                        columnHeader.classList.remove('descending');
                    } else {
                        columnHeader.classList.add('descending');
                    } 
                } else {
                    columnHeader.classList.remove('selected');
                }
            });

            $.getJSON('jobs/', {
                'query': state['query'],
                'order-by': state['order-by'],
                'order': state['order'],
                'page-no': state['page-no'],
                'page-size': state['page-size']
            }).done(function _done(data) {
                var items = computations.querySelector('.items');
                var templateID = items.getAttribute('data-template');
                var template = document.getElementById(templateID).textContent;  
                items.innerHTML = data['page'].map(renderHTML.bind(null, template)).join('\n');
                computations.querySelector('.page-no').textContent = data['page-no'];
                computations.querySelector('.pages-total').textContent = data['pages-total'];
                reassign(state, data);
                
            }).fail(console.log);

        }, 200);




        listen(computations, 'click', '.previous-page', function (event) {
            if (state['pages-total'] > 0) {
                state['page-no'] = Math.max(1, state['page-no'] - 1);
            }
            refresh();
        });

        listen(computations, 'click', '.next-page', function (event) {
            if (state['pages-total'] > 0) {
                state['page-no'] = Math.min(state['pages-total'], state['page-no'] + 1);
            }
            refresh();
        });

        listen(computations, 'click', '.column-header', function (event) {
            var shallToggleOrder = this.classList.contains('selected');
            forEach.call(this.parentNode.getElementsByClassName('selected'), function (node) {
                node.classList.remove('selected');
            });

            if (shallToggleOrder) {
                if (this.classList.contains('descending')) {
                    this.classList.remove('descending');
                } else {
                    this.classList.add('descending');
                } 
            }
            this.classList.add('selected');
            state['order-by'] = this.getAttribute('data-column-name');
            state['order'] = this.classList.contains('descending') ? 'descending' : 'ascending';
            refresh();
        });

        listen(computations, 'click', '.computation', function (event) {
            location.replace(this.getAttribute('data-href'));
        });

        // load previous state, if any
        document.addEventListener("load", function (event) {
            var json = sessionStorage.getItem('state');
            if (json == null) return;
            try {
                state = JSON.parse(json); 
            } catch (exc) {}
        });

        // save state to session storage before navigating from page
        document.addEventListener("beforeunload", function (event) {
            sessionStorage.setItem('state', JSON.stringify(state));
        });

        window.addEventListener("load", function (event) {
            refresh();
        });


    }());
    </script>



</html>



