<!doctype html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="initial-scale=1">
        <meta name="application-name" content="">
        <meta name="description" content="">
        <title>GAVITEA 3D Model</title>
        {% load static %}



        <script>
            (function () {
                'use strict';

                // console.log fallback
                window.console = window.console || {};
                window.console.log = window.console.log || function () {};
             
                // read query parameters from URL
                function getQueryParameter(key) {
                    var qs = window.location.search;
                    var re = new RegExp('[&?]' + key + '=([^&#]*)');
                    var m = re.exec(qs);
                    return m ? m[1] : '';
                };

                window.getQueryParameter = getQueryParameter;

            }());
        </script>
        
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.css">
        <!-- <script src="../..{% static 'js/3d.js' %}"></script> -->




        <style>
			* {
				margin: 0;
				border: 0;
				padding: 0;
			}

            body {
                font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
                width: 500px;
            }
        
            #container {
                cursor: move;
            }

        </style>



        <script id="vertices" type="text/plain">
        {{vertices}}
        </script>
        
        
        <script id="facets" type="text/plain">
        {{facets}}
        </script>




    </head>
    <body onload="onLoad();">
        <main>
            <div id="controls">
                <label>Solution number #{{index}}</label>
                <label>Show rotation axis <input id="toggle-axis" type="checkbox" checked></label>
                <label>Rotate asteroid <input id="toggle-rotation" type="checkbox" checked></label>
                <!-- <label>Rotation speed rad/s<input id="rotation-speed" type="range" ></label> -->
            </div>
            
            <div id="container">
            </div>
        </main>

        <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.9/es5-shim.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/es6-shim/0.35.1/es6-shim.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/json3/3.3.2/json3.js"></script>

        <script src="//cdnjs.cloudflare.com/ajax/libs/three.js/r78/three.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

        <script src="{% static "3d.js" %}">
        </script>

    </body>
</html>




