<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="initial-scale=1">
        <meta name="description" content="GAVITEA">
        
        <title>3D viewer | GAVITEA</title>
        {% load static %}

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.css">
        <link rel="stylesheet" href="{% static 'boilerplate.css' %}">
        <link rel="stylesheet" href="{% static 'widgets.css' %}">
 
        <script src="//cdnjs.cloudflare.com/ajax/libs/ie8/0.4.1/ie8.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.9/es5-shim.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.9/es5-sham.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.35.2/es6-shim.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/json3/3.3.2/json3.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dom4/1.8.3/dom4.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

        <script src="{% static 'es5-utilities.js' %}"></script>
        <script src="{% static 'web-utilities.js' %}"></script>
 
        <script>
        (function () {
            'use strict';
            Object.assign(window, ES5Utilities());
            Object.assign(window, WebUtilities());
        }());
        </script>

        <style>
        table {
            border-collapse: collapse;
            table-layout: fixed;
        }
        
        main>table>tbody>tr>td {
            vertical-align: top;
        }
        
        iframe {
            width: 600px;
            height: 600px;
            border: 1px solid #bbb;
        }
        
        .solution.selected {
            border-left: thick solid #f70;
        }
        
        </style>



        <script id="solution-row-template" type="text/x-template">
            <tr class="solution" data-solution-no="${solution}">
                <td>${solution}</td>
                <td>${rmse}</td>
            </tr>
        </script>



        <script id="solution-frame-template" type="text/x-template">
            <iframe src="jobs/{{md5}}/viz3d/solutions/${solution}" name="${solution}"></iframe>
        </script>




    </head>

    <body>


        <header>
            <h1>GAVITEA</h1>
            <h2>Gaia Added-Value Interface for Temporal Analysis</h2>
            <nav>
                <a class="tab-link" href="search-asteroids">Search asteroids</a>
                <a class="tab-link" href="own-computations">Browse own computations</a>
                <a class="tab-link" href="shared-computations">Browse shared computations</a>
                <a class="tab-link selected">3D viewer</a>
            </nav>
        </header>

        <main>
            <table>
                <tbody>
                    <tr>
                        <td>





                <table id="solutions">

                    <thead>
                        <th class="column-header" data-column-name="solution">Model</th>
                        <th class="column-header selected" data-column-name="rmse">RMSE</th>
                    </thead>

                    <tbody id="available" class="items" data-template="solution-row-template">

                        <tr class="solution">
                            <td>${solution}</td>
                            <td>${rmse}</td>
                        </tr>

                        <tr class="solution">
                            <td>${solution}</td>
                            <td>${rmse}</td>
                        </tr>

                        <tr class="solution">
                            <td>${solution}</td>
                            <td>${rmse}</td>
                        </tr>
                        
                    </tbody>
                    
                    <tfoot>
                        <tr>
                            <td colspan="2">
                                <div class="paging">
                                    <input class="previous-page" type="button" value="&#171;">
                                    <span class="page-no">0</span> / <span class="pages-total">0</span>
                                    <input class="next-page" type="button" value="&#187;">
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                    
                </table>




                        </td>



                        <td colspan="2">
                            <div id="frames"></div>
                        </td>






                    </tr>
                </tbody>
            </table>
        </main>
    </body>



    <script>
    (function () {
        'use strict';
    
        var state = {
            'query': '',
            'order-by': 'astno',
            'order': 'ascending',
            'page-no': 0,
            'page-size': 50,
            'pages-total': 0
        };

        var solutions = document.getElementById('solutions');
        var frames = document.getElementById('frames');
        var available = document.getElementById('available');

        var refresh = debounce(function _refresh() {
            $.getJSON('jobs/{{md5}}/viz3d/solutions', {
                'query': state['query'],
                'order-by': state['order-by'],
                'order': state['order'],
                'page-no': Math.max(state['page-no'], 1),
                'page-size': state['page-size']
            }).done(function _done(data) {
                var templateID = available.getAttribute('data-template');
                var template = document.getElementById(templateID).textContent;  
                var items = [];
                data['page'].forEach(function (rawItem) {
                    items.push(renderHTML(template, rawItem));
                });
                available.innerHTML = items.join('\n');
                solutions.querySelector('.page-no').textContent = data['page-no'];
                solutions.querySelector('.pages-total').textContent = data['pages-total'];
                reassign(state, data);
            }).fail(console.log);
        });





        
        // set listeners
        
        listen(solutions, 'click', '.previous-page', function (event) {
            if (state['pages-total'] > 0) {
                state['page-no'] = Math.max(1, state['page-no'] - 1);
                refresh();
            }
        });

        listen(solutions, 'click', '.next-page', function (event) {
            if (state['pages-total'] > 0) {
                state['page-no'] = Math.min(state['pages-total'], state['page-no'] + 1);
                refresh();
            }
        });

        listen(solutions, 'click', '.column-header', function (event) {
            var shallToggleOrder = this.classList.contains('selected');
            forEach.call(this.parentNode.getElementsByClassName('selected'), function (node) {
                node.classList.remove('selected');
            });

            if (shallToggleOrder) {
                if (this.classList.contains('descending')) {
                    this.classList.remove('descending');
                } else {
                    this.classList.add('descending');
                } 
            }
            this.classList.add('selected');
            state['order-by'] = this.getAttribute('data-column-name');
            state['order'] = this.classList.contains('descending') ? 'descending' : 'ascending';
            refresh();
        });

        listen(solutions, 'click', '.solution:not(.selected)', function (event) {
            var tr = this;
            var solutionNo = this.getAttribute('data-solution-no');
            var frame = document.createElement('iframe');
            frame.setAttribute('src', format('jobs/{{md5}}/viz3d/solutions/%s', solutionNo));
            frame.setAttribute('data-solution-no', solutionNo);
            frames.appendChild(frame);
            setTimeout(function () {
                tr.classList.add('selected');
            }, 100);
        });

        listen(solutions, 'click', '.solution.selected', function (event) {
            var tr = this;
            var solutionNo = this.getAttribute('data-solution-no');
            var frame = frames.querySelector(format('iframe[data-solution-no="%s"]', solutionNo));
            frames.removeChild(frame);
            setTimeout(function () {
                tr.classList.remove('selected');
            }, 100);
        });


        refresh();

    }());
    </script>



</html>


